/* footer */
:root{
    --commonwidth:1150px ;
    --collumn:6;
    --commondirection:row;
    --spacing:-2px;
    --rong:1000px;
}
.footer{
    max-width: var(--commonwidth);
    background-color: black;    
    margin: 0px auto;    
    box-sizing: border-box;
}
.footer,.footer a{
    color: white;
}
.footer-header{
    width: 100%;
    text-align: center;       
    background-color: #848181; 
}
.footer-header__form input{
    height: 25px;
    width: 50%;
}
.footer-header__form input[type=button]{
    width: 100px;
    height: 34px;    
    background-color: #6BC15F;
    margin-left: -10px;
    color: white;
    margin-bottom: 10px;
}
.footer-header__form input[type=button]:hover{
    cursor: pointer;
    background-color: greenyellow;
}
.footer-center--img img{
    width: 200px;
}
.footer-center-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: var(--commondirection);
}
.footer-center--img,.footer-center-mission{
    text-align: center;
}
.footer-center-info{
    padding: 20px;
    padding-left: 200px;
}
.footer-center-info>div{
    width: 35%;    
}
@media  screen and (max-width:768px) {         
    /* ----footer------- */
    .footer-center-mission{
        padding: 0px 5px;
    }
    .footer-center-info{        
        padding:0px 15px;
        justify-content: space-between;
    }
    .footer-center-info>div{
        width: 100%;    
    }    
}
@media  screen and (max-width:376px) {
    :root{          
        --commondirection:column;       
    }     
    /* ----footer------- */
    .footer-center-mission{
        padding: 0px 5px;
   }
    .footer-center-info{        
       padding:0px 15px;
   }
   .footer-center-info>div{
       width: 100%;    
   }
   .footer-center-info>div{
       margin-bottom: 10px;
   }
} 