/* footer */
.footer{
    max-width: var(--commonwidth);
    height: 100%;
    background-color: black;    
    margin: 0px auto; 
}
.footer,.footer a{
    color: white;
}
.footer-header{
    width: 100%;
    padding-top: 7px;
    text-align: center;       
    background-color: #848181; 
}
.footer-center{
    padding-bottom: 10px;
}
.footer-header__form input{
    height: 32px;
    width: 50%;
}
.footer-header__form input[type=button]{
    width: 100px;
    height: 34px;    
    background-color: #6BC15F;
    margin-left: -10px;
    color: white;
    margin-bottom: 10px;
}
.footer-header__form input[type=button]:hover{
    cursor: pointer;
    background-color: greenyellow;
}
.footer-center--img{
    height: 50px;
    width: auto;
}
.footer-center--img img{
    width: auto;
    height: 100%;
}
.footer-center-info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-direction: var(--commondirection);
}
.footer-center--img,.footer-center-mission{
    text-align: center;
}

@media  screen and (max-width:768px) {         
    /* ----footer------- */
    .footer-center-mission{
        padding: 0px 5px;
    }
    
}
@media  screen and (max-width:426px) {
    :root{          
        --commondirection:column;       
    }     
    /* ----footer------- */
    .footer-center-info{        
       padding:0px 15px;
   }
   .footer-center-info>div{
       width: 100%;    
       margin-bottom: 10px;
   }
} 