/* ------trang giỏ hàng------- */
.cart-container{
    max-width: 1150px;
    margin: auto;
    padding: 0px 5px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.cart__header{
    display: flex;
    justify-content: space-between;
}
.cart__header h4{
    padding:10px ;
    box-sizing: border-box;
}
.cart__table table{
    width: 100%;
    border-collapse: collapse;
}

.cart__table th{
    height: 40px;
    background-color: #6BC15F;
}
.cart__table td{    
    padding-left: 2px;
}
.cart__table td:nth-child(1),.cart__table td:nth-child(3),.cart__table td:nth-child(5){
    text-align: center;   
    width: 15%;
}
.cart__table td:nth-child(4) div:last-child{
    float: right;
    background-color: wheat;
    font-size: 20px;
}
.cart__table input{
    size: 40px;
}
.cart__sum div:first-child,.cart-btn input{    
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 25px;    
}
.cart__sum{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}
.cart__sum div:first-child{        
    width: 40%;    
    margin-bottom: 10px;
    background-color: #E9650C;
    color: white;          
}
.cart__sum div:last-child{
    color: black;
    width: 55%;
    text-align: right;
    font-size: 25px;
    padding-right: 5%;
    box-sizing: border-box;
    line-height: 45px;
}
.cart-btn{
    width: 100%;   
    display: flex;
    justify-content: flex-end;
}
.cart-btn input{
    width: 300px;    
    background-color: #D6D6D6;
    margin-left: 10px;
    font-weight: bold;
}
.cart-btn input:hover{
    background-color:rgba(214 214 214,.5);
    cursor: pointer;
    background-color: rgb(158, 204, 32);
}
.input-quantity{
    border: none; 
    height: 20px; 
    text-align: center
}

@media screen and (max-width:768px){
    .cart-container{
        width: 100%;
        padding: 0px;
    }
    .cart__table td:nth-child(4),.cart__table td:nth-child(3){
        width: 15%;
    }
}
@media screen and (max-width:376px){
       /* trang giỏ hàng--------- */
    .cart__table td:nth-child(1),.cart__table td:nth-child(5),.cart__table th:nth-child(1),.cart__table th:nth-child(5){
        display: none;
    }    
   
    .cart-btn{
        flex-direction: column;        
    }    
    .cart-btn input{
        width: 90%;
        margin-bottom: 10px;
    }
   .input-quantity{
       width: 20%;
   }
   .input-quantity-item{
       width: 50px;
   }
}