*{  
    padding: 0px;
    margin: 0px;
}
.page{
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: rgb(34, 34, 34);
    background-color: #f5f5f5;;            
    justify-content: center;       
    width: 100%;    
    height: 300px;
    background-color: blue;
}
a{
    text-decoration: none;
    color: black;
}
:root{
    --commonwidth:1150px ;
    --collumn:6;
    --commondirection:row;
    --spacing:-2px;
    --rong:1000px;
}

/* -----tittle----- */
.topbar{
    height: 40px;
    width: 100%;    
    background-color: black;        
    line-height: 40px;
    font-size: 20px;
    top: 0px;   
    text-align: center;              
}
.topbar span{      
    color: white;
}

/* -----header-------- */
.header{
    width: 100%;
    position: fixed;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-container{   
    background-color: white;    
    /* padding-top: 10px; */
    margin-bottom: 20px;  
}
.header-main{
    max-width: var(--commonwidth); 
    margin: auto;
    display: flex;    
    flex-wrap: wrap;
}
.header__logo,.header__nav{
    height: 100px;
    padding-top: 15px;
    box-sizing: border-box;
}
.header-cart-account>div{
    height: 100px;
    padding-top: 20px;
    box-sizing: border-box;
}
#icon-cart, #icon-account{
    color: rgb(37, 37, 37);
}
.header__logo{    
    width: 271px; 
    padding-left: 5px;   
}
.header__logo img{
    height: 80%;    
}
.header__nav-menu{
    width: 572px;
    height: 30%;   
    margin-bottom: 1px; 
    
}
.header__nav-menu ul{
   display: flex;    
}
.header__nav-menu li{
    width: 114px;
    /* float: left;    */
    text-align: center; 
    list-style-type: none;    
}
.header__nav-search{
    clear: both;
    text-align: center;
}
.header__nav-search input[type=text]{
    width: 60%;
    height: 30px;
}
.header__nav-search input[type=button]{
    width: 80px;
    height: 36px;
    margin-left: -15px;
    color: white;
    background-color: #6BC15F;
}
.header-cart-account{
    width: 179px;
    margin: auto 30px auto auto;
    display: flex;
}
.header-cart-account>div{
    width: 50%;
    text-align: center;    
}
.header__cart i{
    font-size: 30px;
    color: orangered;
}
.header-cart-account i{
    font-size: 30px;
    color: blue;
}

#toggle{
    display: none;
    background-color: #CEC7C7;
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    padding: 5px 3px;
    box-sizing: border-box;
    
}
@media  screen and (max-width:768px) {
    .header-cart-account{
        width: 179px;
        position: absolute;
        top: 30px;
        right: -40px;
    }
    .header__logo{
        width: 90px;
        padding: 0px;
    }
    .header__logo img{
        width: 100%;
    }
    .header__nav-menu li{
        width: 105px;
    }
}
@media  screen and (max-width:376px) {
    :root{
        --commonwidth:100%;
    }
    .header{
        position: relative;
        width: 100%;
        height: 185px;
    }
    .header__nav{
        width: 100%;
        height: 35px;
    }
    .header-container{
        width: 100%;
    }
    .header__nav-search{
        display: none;
    }
    .header-cart-account{
        width: 179px;
        position: absolute;
        top: 30px;
        right: -10px;
    }
    .header-main,.header__logo{
        padding-top: 0px;
    }
    .header__logo{
        height: 80px;
    }
    .header__nav-menu{
        display: block;
    }
    .header__nav-menu ul{
        flex-direction: column; 
        display: none;         
        width: 150px;
    }
    .header__nav-menu li{
        margin-bottom: 10px; 
        text-align: left;
        margin-left: 10px;
        background-color: rgb(255, 230, 0);
    }
    input#chk:checked + .header__nav-menu ul{
        display: block;
    }      
    #toggle{
        display: block;
    }
}
