/* featurebrand */
:root{
    --collumn:6;
    /* --spacing:-2px; */
    --rong:1000px;
    --commonwidth:1150px;
}
.Page{
    height: 108px;
}
.featurebrand{
    max-width: var(--commonwidth);
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--commondirection);
    margin: auto 0%;
    background-color: white;
    margin-bottom: 22px;
    height: 100%;
    justify-content: space-between;
}
.featurebrand>div{
    width: calc(calc(100%/var(--collumn)) + var(--spacing));
    height: 100%;
    display: flex;
    align-items: center;    
    box-sizing: border-box;
}

.featurebrand img{
    max-height: 70px;
    max-width: calc(1150/6);
    margin: auto;
}
@media  screen and (max-width:768px) {
    :root{
        --collumn:4;
    }
    .featurebrand__item5 a,.featurebrand__item6 a{
        display: none;
    }
}
@media  screen and (max-width:426px){
    :root{
        --collumn:2;
    }
    .featurebrand__item5 a,.featurebrand__item6 a,.featurebrand__item4 a,.featurebrand__item3 a{
        display: none;
    }
}
@media  screen and (max-width:376px) {
    :root{
        --collumn:1;
    }
    .featurebrand>div a{
        display: none;
    }
    .featurebrand>div:nth-child(1) a{ 
        display: block;
        width: 100%;
    }
    .featurebrand>div:nth-child(1) img{
        width: 80%;
    }
    .featurebrand>div:nth-child(1){
        text-align: center;
        width: 100%;
    }
    .featurebrand{
        height: 108px;
    }
    .featurebrand::after{
        content: aaaaaaaaa;
    }
}