*{  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
:root{
    --commonwidth:1150px ;
    --commondirection:row;
}
/* -----------body--------- */
main::before {
    display: block;
    content: "";
    margin-top: -1px;
    height: 145px;
    visibility: hidden;
    pointer-events: none;
}
main {
    max-width:1150px ;
    display: flexbox;
    margin: 0px auto;
    padding: 10px;
}
.page{
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #474747;
    background-color: #f5f5f5;          
    justify-content: center;       
    width: 100%;        
}  
iframe{
    width: 100%;
}
.iframe-header{
    position: fixed;
    max-height:200px;
}
.iframe-footer{
    max-height:1000px;
}
.iframe-branch{
    max-height:108px;
    
}
.iframe-policy{
    min-height:100px; 
}
@media  screen and (max-width:768px) {
    .body::before {        
        height: 140px;      
    }    
    /* .iframe-footer{
        height: 440px;
    } */
    .iframe-branch{
        height:110px;
     }
    .iframe-policy{
        height:110px; 
    }
}
@media  screen and (max-width:376px) {
    .body::before {        
        height: 0px;      
    }
    .iframe-header{
        position: relative;
        height: 200px;
        overflow: visible;
    }
    .iframe-footer{
        height: 440px;
    }
    .iframe-branch{
        height:108px;
     }
     .iframe-policy{
        height:216px; 
     }
}
