:root{
    --commonwidth:1150px ;
    --collumn:6;
    --commondirection:row;
    --spacing:-2px;
    --rong:1000px;
}
a{
    text-decoration: none;
    color: black;
}
.payment{
    max-width: var(--commonwidth);
    margin: auto;
    font-size: 16px;
}
.payment a{
    color: blue;
}
.payment>div{
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(147, 216, 236);
    padding: 20px;
    box-sizing: border-box;
}
.deliver-address h3{
    color: red;
}
.customer-info{
    width: 100%;
    display: flex;
}
.customer-info .address-detail{
    width: 50%;
}
.customer-info  .name-phone{
    font-weight: bold;
    width: 30%;
}
.customer-info .change-btn{
    flex: 1;
    text-align: right;
}
.customer-info .change-btn span{
    padding-top: 20px;
}
.customer-info>div{
    margin-right: 20px;
}


.payment-product-body{
    display: flex;
}
.payment-product-body>div{
    width: 20%;
    
}
.payment-product-body #diff{
    width: 40%;

}
.payment-product-img img{
    width: 30%;
    float: left;
    margin-right: 3px;
    margin-top: 20px;
}


.payment-method{
    display: flex;
}
.payment-method__tittle{
    width: 50%;
}
.payment-method__default,.payment-method__btn,.payment-list__row div{
    width: 25%;
    text-align: right;
}
.payment-list__row{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.payment-process-btn{
    padding-bottom: 20px;
}
.payment-process-btn input{
    float: right;
    width: 250px;
    height: 50px;
    background-color: #FF4004;
    font-size: 40px;
    color: white;
    
}
