:root{
    --commonwidth:1150px ;
    --collumn:6;
    --commondirection:row;
    --spacing:-2px;
    --rong:1000px;
    --commonheight:362px;  
}
a{
    text-decoration: none;
    color: black;
}

/* ---category---------------- */
.body-menu-banner{
    max-width: var(--commonwidth);
    display: flex;
    flex-direction: var(--commondirection);
    /* margin-left: -8px;     */
    margin: 20px auto;       
}
.body__menu,.home-body__baner1,.home-body__baner2{
    max-height: 407px;
    background-color: white(103, 104, 47);
    margin-left: 14px;    
}
.body__menu{
    width: 271px;    
    padding: 0px;
    margin-left: 0px;
}
.home-body__baner1{
    width: 572px;
}
.home-body__baner2{
    width: 276px;
}
.home-body__baner1 img,.home-body__baner2 img{
    width: 100%;
    height: 100%;
}
.body__menu--tittle,.body__menu--detail div{    
    height:calc(calc(407px/6)-1px);
    /* width: 270px; */
    width: 100%;
    list-style-type: none;
    font-size: 18px;
    background-color: black;       
    color:white;
    width: 100%;
    margin-bottom: 1px;
    line-height: 58px;
    padding-left: 10px;  
    box-sizing: border-box;      
}
.body__menu--tittle#menu-tittle--color{
    background-color: green;
}








/* -----------Sản phẩm-------- */
/* -------best seller--------newproduct */
.bestseller,.newproduct{   
    max-width:var(--commonwidth);       
    margin: auto;
    margin-bottom: 20px;    
}
.bestseller-meta,.bestseller-list,.newproduct-meta,.newproduct-list{
    width: 100%;    
}
.bestseller-meta,.newproduct-meta{
    height: 40px;    
    background-color: #E9650C;
    color: white;
    text-align: center;
    vertical-align: center;
}
.bestseller-list,.newproduct-list{       
    display: flex;    
    margin-left: -2px;      
    flex-wrap: wrap;    
    flex-direction: var(--commondirection);    
}
.bestnew-product-img{          
    flex-shrink: 0;    
}
.bestseller-list>div,.newproduct-list>div{
    background-color: white;
    margin: 0;
    margin-left: 2px;   
    /* width: calc(calc(100%/6)-1px); */
    width: calc(calc(100%/var(--collumn)) + var(--spacing));
    display: flex;
    flex-direction: column;    
    margin-bottom: 5px;
}
.bestnew-product-info{
    flex: 1;    
    display: flex;
    flex-direction: column;    
}   
.bestnew-product-info>div:first-child,.bestnew-product-info .product-price{
    margin-left: 3px;
    box-sizing: border-box;
}
.bestnew-product-info .name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;  
    padding: 0px 2px;    
}
.bestnew-product-info .name:hover{
    overflow: visible;   
    display: block; 
}
.bestnew-product-info .product-price{
    margin-top: auto;
    flex-shrink: 0;
    color: red;    
}
.bestnew-product-img,
.bestseller-list img,.newproduct-list img{
    width: 100%;
}
.more-product{
    display: none;
}

/* responsive */
@media  screen and (max-width:768px) {
    :root{
        --collumn:3;               
    }  
    .page{
        padding:0px 5px;
    }
    .apreassurances-item{
        width: 48%;
    }             
    /* --Danh mục-------------- */
    .home-body__baner2{
        display: none;
    }
}
@media  screen and (max-width:376px) {
    :root{
        --collumn:1;      
        --commondirection:column;       
    }     
    .body::before {        
        height: 90px;        
    }    
    .bestseller-list>div img,.newproduct-list>div img{
        flex: 1;
    }
    .apreassurances-item{
        display: none;
    }
    .bestseller-list{
        max-height:calc(var(--commonheight)*2);
        overflow: hidden;
    }
    .newproduct-list{
        max-height:calc(var(--commonheight)*3);
        overflow: hidden;
    }
    .more-product{
        display: block;
        margin-right: 20px;
        color: blue;
        text-align: right;
        margin-top: 5px;
        height: 20px;
    }  
    .more-product input:active .bestseller-list{
        height:calc(var(--commonheight)*6);
    }
    .more-product:hover .newproduct-list{
        height:calc(var(--commonheight)*18);
    }    
    .bestseller-list>div,.newproduct-list>div{
        padding: 0px 5%;
        box-sizing: border-box;
        justify-content: space-around;    
      
    }
    .bestseller-list,.newproduct-list{
        margin: 0px 5%;
        box-sizing: border-box;
        width: 90%;
    }
    
     /* --Danh mục-------------- */
    .body__menu--detail{
         display: none;
    }
    .home-body__baner1{
        display: block;
        width: 100%;
        margin: auto;
    }    
    .body-menu-banner>div:first-child:active .body__menu--detail{
        display: block;
    }   
    .body__menu{
        width: 100%;
    }
    .body__menu--tittle:visited .body__menu--detail{
        display: block;
    }    
}


