.body-account--desktop{
    max-width: 1152px;
    margin: auto;
    background-color: white;
     margin-bottom: 20px;
    margin-top: 1cm;
     color: rgba(0, 0, 0, 0.5);
     font-size: 18px;
}

/* heading */
.file-head{
   padding-top: 0.7cm;
   padding-left: 00.5cm;
}
.file-head .heading{
font-size: 26px;
color: black;

}
#hr1{
    border: none;
    border-top: 2px dashed black;
    max-width: 98%;
    margin: 0 auto;
    /* margin-bottom: 1cm; */
}

/* avatar */
.file-avatar{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    /* background-color: thistle; */
 
}

.file-avatar .avatar-img img{
    /* background-color: aqua; */
    border-radius: 50%; border: 1px solid ; 
    height: 167.64px; margin: 20px;
     padding: 15px; text-align: center;
      width: 161.88px;
    
}
.avatar-note{
    margin-left: 1cm;
   text-align:left;
   padding-top: 1.5cm;

}
.avatar-note .choose-img{
    background-color:#ff4004;
    height: 40px;
     width: 90%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    color: white;
    font-size: 20px;
    margin-bottom: 0.7cm;
  
}
#hr2{
    width: 60%;
    margin-left: 97px;
}

/* information */
.file-info{
    margin: 0 auto;
     width: 80%;
    margin-top: 0.5cm;
}
.file-info>.info-column{
    margin-bottom: 20px;
    display: flex;

}
.info-column .birthday{
    flex-direction: row;
}
 .info-column>:first-child{
    text-align: left;
   /* margin-left: 97px; */
    width: 20%;
  
}
#username,#name,#emaill,#sdt{
    width: 408px;
    height: 29.89px;
    width: 50%;
}
#male,#other{
    margin-left: 4cm;
}
#date,#month,#year{
    width: 20%;
    margin-right: 50px;
    height: 29px;
}
/*  */
.file-save .save-file{
    background-color:#ff4004;
    height: 40px;
    /* width: 210px; */
    width: 20%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    color: white;
    font-size: 20px;
    margin-bottom: 0.5cm;
    margin-bottom: 0.5cm;
}


/* reponsive */
@media  screen and (max-width:768px) {
    
  }
  @media  screen and (max-width:540px) {
  .file-avatar{
      flex-direction: column;
      text-align: center;
  }
  #male,#other{
    margin-left: 0.3cm;
}
#date,#month,#year{
 
    margin-right: 30px;
}
.info-column>:first-child{
    text-align: left;
   /* margin-left: 97px; */
    width: 30%;
  
}
  }