/* ---category---------------- */

main::before{
    max-height: 300px;
}
.product-body__menu-banner{
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.body__menu{
    min-width: 24%;  
    padding: 0px;
    margin-left: 0px;
}
.body-banner{
    max-width: 859px;
    margin-left: 20px;
}
.body-banner >img{
    width: 100%;
    height: 100%;
}
.body__menu--tittle,.body__menu--detail div{   
    width: 100%;
    list-style-type: none;
    font-size: 18px;
    background-color: black;       
    color:white;
    line-height: 58px;
    padding-left: 10px;   
    border-bottom: 1px solid rgb(197, 197, 197);  
}

.body__menu--tittle#menu-tittle--color{
    background-color: green;
}
/* ------- Hình thương hiệu nước--- */

.product-body{
    display: flex;
    width: 100%;
}
/* ----------Bộ lọc----------- */
.iframe-filter{
    max-width: 24%; 
    max-height: 940px;
    margin: 20px auto 12px 0px;
}

/* -----responsive---- */
@media  screen and (max-width:769px){
    main::before{
        max-height: 170px;
    }
    .body__menu--tittle,.body__menu--detail div{
        font-size: 14px;
        line-height: 39px;
    }
    .product-body__menu-banner{
        height: 273px;
    }
    div.product-list{
    margin: 20px 7px 20px 7px;
    }
}
@media  screen and (max-width:767px){
    main::before{
        height: 160px;
    }
    
    
    .product-body{
        display: flex;
        flex-direction: column;
        min-height: 1000px;
    }
    .iframe-filter{
        min-width:100%;
        height: 40px;
    }
    /* .iframe-fifter:active{
        min-height: 720px;
    } */
    .iframe-filter:hover{
        min-height: 720px;
    }

    
 }
 @media  screen and (max-width:426px){
     main::before{
         height: 0px;
     }
     .body-banner >img{
        height: auto;
    }
    #chk-banner:checked+.body__menu--detail{
        display: block;       
    } 
    .body__menu--detail{
        display: none;
    }   
    .product-body__menu-banner{
        width: 100%;
        height: auto;
        display: block;
    }
    
    .body-banner{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    .body-banner img{
        width: 100%;
        margin-right: 2px;
        
    }
    .pagination{
        display: none;
    }
 }