<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang giỏ hàng</title>
    <link rel="stylesheet" href="../css/GioHangg.css">
    <link rel="stylesheet" href="../css/Page.css">
    <link rel="stylesheet" href="../font/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="../javascript/angular.js"></script> 
    <script src="../javascript/GioHang.js"></script>  
    
</head>
<body> 
    <div class="page">
        <iframe class="iframe-header" src="./Header.html"  frameborder="0"></iframe> 
        <main class="body">                      
            <div class="cart-container"  ng-app="CartApp" ng-controller="CartrProduct">
                <div class="cart__header">
                    <h1>Giỏ hàng</h1>
                    <!-- <h4>Tổng: {{getmount()}} Sản phẩm</h4> -->
                </div>
                <div class="cart__table">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Tổng</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>                
                        <tbody class="sanpham">
                            <tr ng-repeat= "p in ProductBuyed" ng-init="p.Soluong=1">
                                <td data-label="Số thứ tự">{{$index+1}}</td >
                                <td data-label="Tên sản phẩm" ng-bind="p.Ten" id="Namee"></td>
                                <td data-label="Số lượng" class="input-quantity"><input class="input-quantity-item" type="number" ng-model="p.Soluong"></td >
                                <td data-label="Giá">
                                    <div ng-bind="p.Gia|currency:'đ':false">                                        
                                    </div>
                                </td>
                                <td ng-bind="p.Soluong*p.Gia|currency:'đ':false"></td>                                                                  
                                <td  data-label="Chọn"><input type="checkbox" ng-model="p.buy"></td>                                 
                            </tr>                              
                           
                        </tbody>
                    </table>
                </div>
                <div class="cart__sum">                  
                   <div>Tổng cộng</div>
                    <div>{{getAmount()}}đ</div>          
                </div>        
                <div class="cart-btn">
                    <div class="cart-btn__row1">
                       <a href="TrangChu.html"><input type="button" value="Tiếp tục mua hàng"></a> 
                    </div>
                    <div class="cart-bt__row2" id="thanhtoan">
                        <a href="ThanhToan.html"><input type="button" value="Thanh toán"></a>
                    </div>
                </div>
            </div>   
            <iframe class="iframe-policy" src="./ChinhSach.html" frameborder="0"></iframe>
            <iframe class="iframe-branch" src="./NhanHieu.html" frameborder="0"></iframe>       
        </main> 
        <iframe class="iframe-footer" src="./Footer.html" frameborder="0"></iframe>       
    </div>
    
</body>
</html>
